{{! The footer, with the copy right }}
<footer class="site-footer">
    <a class="subscribe" href="{{@site.url}}/rss/"><i class="fa fa-rss"></i><span class="tooltip">Subscribe!</span></a>
    <div class="inner">
        <section class="copyright">Copyright &copy; 2009 - {{date format="YYYY"}} <a href="{{@site.url}}/">{{@site.title}}</a> &bull; All rights reserved. My works are licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a> <img src="{{asset "images/creativecommons-licenses-80x15.png"}}" alt="creativecommons licenses" /></section>
        <section class="powered-by">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a> using <strong><a href="https://swordair.com/pure-theme/">pure</a></strong> theme, linking data via <img class="img-json-ld" width ="16" height="16" src="{{asset "images/json-ld-data.svg"}}" alt="json-ld" /> JSON-LD, <a href="https://swordair.com/rss/">RSS</a>, hosted on Aliyun, <a href="http://www.beian.miit.gov.cn">沪ICP备15037945号</a></section>
    </div>
</footer>
