{{! The header on the homepage, with the site logo and description }}
<header class="head-bar">
  <div class="head-bar-inner">
    <div class="blog-info">
      {{#if @site.logo}}
        <a class="logo" href="{{@site.url}}">
          <img src="{{@site.logo}}" alt="{{@site.title}}" />
        </a>
      {{/if}}
      {{#is "home"}}
        <h1 class="title"><a href="{{@site.url}}">{{@site.title}}</a></h1>
      {{else}}
        <div class="title"><a href="{{@site.url}}">{{@site.title}}</a></div>
      {{/is}}
      <div class="desc">{{@site.description}}</div>
    </div>
    <div id="nav-more" class="nav-more">
      <svg class="nav-more-icon" viewBox="0 0 1024 1024" width="32" height="32"><path fill="#999" d="M512 416c53.02 0 96 42.98 96 96s-42.98 96-96 96-96-42.98-96-96 42.98-96 96-96z m320 0c53.02 0 96 42.98 96 96s-42.98 96-96 96-96-42.98-96-96 42.98-96 96-96z m-640 0c53.02 0 96 42.98 96 96s-42.98 96-96 96-96-42.98-96-96 42.98-96 96-96z"></path></svg>
    </div>
    {{navigation}}
  </div>
</header>
