{{! The header on the homepage, with the site logo and description }}
<header class="head-bar">
  <div class="head-bar-inner">
    <div class="blog-info">
      {{#if @site.logo}}
        <a class="logo" href="{{@site.url}}">
          <img src="{{@site.logo}}" alt="{{@site.title}}" />
        </a>
      {{/if}}
      {{#is "home"}}
        <h1 class="title"><a href="{{@site.url}}">{{@site.title}}</a></h1>
      {{else}}
        <div class="title"><a href="{{@site.url}}">{{@site.title}}</a></div>
      {{/is}}
      <div class="desc">{{@site.description}}</div>
    </div>

    {{navigation}}
  </div>
</header>
