{{!< default}}

{{> header}}

<main class="content" role="main">
  <article class="{{post_class}}">
    {{#post}}
      <div class="post-meta">
        <time class="post-date meta-item" datetime="{{date format='YYYY-MM-DD'}}"><svg class="meta-icon" width="20" height="20" viewBox="0 0 1024 1024"><path fill="#aaa" d="M800 112c17.673 0 32 14.327 32 32l0.002 36.033C887.208 194.243 928 244.358 928 304v158h-0.03c0.02 0.664 0.03 1.331 0.03 2v320c0 70.692-57.308 128-128 128H224c-70.692 0-128-57.308-128-128V464c0-0.669 0.01-1.336 0.03-2H96V304c0-70.692 57.308-128 128-128v-32c0-17.673 14.327-32 32-32 17.673 0 32 14.327 32 32v32h192v-32c0-17.673 14.327-32 32-32 17.673 0 32 14.327 32 32v32h224v-32c0-17.673 14.327-32 32-32z m32 352H192c-17.673 0-32 14.327-32 32v288c0 34.993 28.084 63.426 62.942 63.991L224 848h576c34.993 0 63.426-28.084 63.991-62.942L864 784V496c0-17.673-14.327-32-32-32z m-96 224c17.673 0 32 14.327 32 32 0 17.673-14.327 32-32 32h-64c-17.673 0-32-14.327-32-32 0-17.673 14.327-32 32-32h64z m-192 0c17.673 0 32 14.327 32 32 0 17.673-14.327 32-32 32h-64c-17.673 0-32-14.327-32-32 0-17.673 14.327-32 32-32h64z m-192 0c17.673 0 32 14.327 32 32 0 17.673-14.327 32-32 32h-64c-17.673 0-32-14.327-32-32 0-17.673 14.327-32 32-32h64z m192-128c17.673 0 32 14.327 32 32 0 17.673-14.327 32-32 32h-64c-17.673 0-32-14.327-32-32 0-17.673 14.327-32 32-32h64z m192 0c17.673 0 32 14.327 32 32 0 17.673-14.327 32-32 32h-64c-17.673 0-32-14.327-32-32 0-17.673 14.327-32 32-32h64z m-384 0c17.673 0 32 14.327 32 32 0 17.673-14.327 32-32 32h-64c-17.673 0-32-14.327-32-32 0-17.673 14.327-32 32-32h64z m128-320H288c0 17.673-14.327 32-32 32-17.496 0-31.713-14.042-31.996-31.47L224 240c-34.993 0-63.426 28.084-63.991 62.942L160 304v62c0 17.673 14.327 32 32 32h640c17.673 0 32-14.327 32-32v-62c0-24.102-13.323-45.093-33.007-56.008C827.443 261.798 814.913 272 800 272c-17.673 0-32-14.327-32-32H544c0 17.673-14.327 32-32 32-17.673 0-32-14.327-32-32z" /></svg>{{date format="YYYY-MM-DD"}}</time>
        <span class="post-tags meta-item"><svg class="meta-icon" width="20" height="20" viewBox="0 0 1024 1024"><path fill="#aaa" d="M704 96c70.692 0 128 60.167 128 134.387v630.405c0 37.11-28.654 67.193-64 67.193-9.936 0-19.735-2.428-28.622-7.094L540.622 816.555c-18.018-9.459-39.226-9.459-57.244 0L284.622 920.89c-31.615 16.597-70.058 3.143-85.865-30.05-4.444-9.33-6.757-19.618-6.757-30.049V230.387C192 156.167 249.308 96 320 96h384z m0 64H320c-34.284 0-63.412 30.221-63.991 69.203l-0.009 1.184v630.405c0 0.83 0.157 1.621 0.43 2.288l0.119 0.265 197.082-103.457c36.278-19.044 79.225-19.234 115.636-0.571l1.102 0.571 197.098 103.466 0.065-0.132c0.26-0.57 0.431-1.286 0.463-2.14l0.005-0.29V230.387c0-39.157-28.785-69.77-62.963-70.378L704 160zM443.74 489.001l0.378 0.372c37.115 37.115 97.06 37.486 134.633 1.113l1.131-1.113c12.497-12.497 32.758-12.497 45.255 0 12.497 12.496 12.497 32.758 0 45.254-62.484 62.484-163.79 62.484-226.274 0-12.497-12.496-12.497-32.758 0-45.254C411.235 477 431.217 476.877 443.74 489z" /></svg>{{tags}}</span>
        <span class="post-comments meta-item"><svg class="meta-icon" width="20" height="20" viewBox="0 0 1024 1024"><path fill="#aaa" d="M800 160c70.692 0 128 57.308 128 128v312c0 61.618-50.144 111.762-112 112h-87c-16.15-0.238-31.537 5.729-43 16L555 848c-24.294 21.927-61.706 21.927-86 0L338 728c-11.463-10.271-26.85-16.238-43-16h-87c-61.856-0.238-112-50.382-112-112V288c0-70.692 57.308-128 128-128h576z m0 64H224c-34.993 0-63.426 28.084-63.991 62.942L160 288v312c0 26.006 21.063 47.332 47 48h88c31.794-0.238 62.274 11.458 86 33l131 119 131-119c22.874-21.09 53.271-32.998 85-33h88c26.245-0.238 47.57-21.3 48-47V288c0-34.993-28.084-63.426-62.942-63.991L800 224zM613.68 481.845c16.654 5.914 25.36 24.209 19.447 40.863C615.135 573.376 567.073 608 512.481 608c-54.574 0-102.628-34.629-120.633-85.283-5.919-16.652 2.782-34.95 19.435-40.869 16.486-5.86 34.584 2.61 40.688 18.938l0.18 0.497C461.17 526.65 485.245 544 512.482 544c26.983 0 50.846-16.997 60.06-41.95l0.276-0.758c5.914-16.654 24.209-25.361 40.863-19.447z" /></svg><a href="{{url}}#disqus_thread">Comments</a></span>
      </div>

      <h1 class="post-title">{{{title}}}</h1>

      <section class="post-content">
        {{content}}
      </section>
    {{/post}}


    {{! Inserts a devider - just for beauty ;) }}
    <div>
      <hr />
    </div>

    {{! This is inserts disqus, post.id is the identifier }}
    <div id="disqus_thread">
      <p>评论加载中...</p>
      <p class="disqus-loading-tips">由<span class="logo-disqus">Disqus</span>提供评论支持，如果评论长时间未加载，请飞跃长城。</p>
    </div>
    <script type="text/javascript">
      var disqus_shortname = 'SwordAir'; // required: replace example with your forum shortname
      var disqus_identifier = '{{post.id}}';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the comments.<br /></noscript>

  </article>

</main>
